.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px; /*원으로 만들고 싶으면 width의 반절크기를 적어줘야함*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
